<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= search_form_for @q do |f| %>
<%= f.label :appointed %>
<%= f.date_field :appointed_gteq %>
<%= f.date_field :appointed_lteq %>
<%= f.label :username %>
<%= f.select :username_eq, options_from_collection_for_select(User.where(is_deleted: true), :id, :name), include_blank: true  %>
<%= f.label :title %>
<%= f.text_field :title_cont %>
<%= f.label :category %>
<%= f.select :category_eq, options_from_collection_for_select(Category.all, :id, :category_item), include_blank: true  %>
<%= f.label :status %>
<%= f.select :status_not_eq, options_from_collection_for_select(Status.where(id: 3), :id, :status_item), include_blank: true  %>以外
<%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>期日までの日数</th>
      <th><%= sort_link(@q, :appointed, "期日") %></th>
      <th><%= sort_link(@q, :priority, "優先度") %></th>
      <th><%= sort_link(@q, :username, "ユーザー") %></th>
      <th><%= sort_link(@q, :title, "タイトル") %></th>
      <th><%= sort_link(@q, :category, "カテゴリー") %></th>
      <th><%= sort_link(@q, :status, "ステータス") %></th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= @q.result.count %> / <%= Task.count %> （ヒット件数/全件数）
<%= paginate(@tasks) %>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <% if task.status == "3" %>
        <td>完了</td>
        <% elsif task.appointed == Date.today %>
        <td>本日</td>
        <% elsif (task.appointed - Date.today).to_i < 0 %>
        <td><font color="red">期限を<%= (Date.today - task.appointed).to_i %>日過ぎています</font></td>
        <% else %>
        <td><%= date_today(task.appointed) %>後</td>
        <% end %>
        <td><%= task.appointed %></td>
        <td><%= Priority.find(task.priority).priority_item %></td>
        <td><%= User.find(task.username).name %></td>
        <td><%= task.title %></td>
        <td><%= Category.find(task.category).category_item %></td>
        <td><%= Status.find(task.status).status_item %></td>
        <td><%= task.memo %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
