<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<h1>Tasks</h1>

    <div class="col-3 sidebar">
  <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
    新規作成
  </button>
    </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Task新規作成</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= render 'form', task: @task %>
        </div>
      </div>
    </div>
  </div>

<hr>

<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    検索画面　表示/非表示
  </button>
<p></p>
<div class="collapse" id="collapseExample">

<div class="card border-primary mb-3" style="max-width:100rem;">
  <div class="card-header">Task検索</div>
  <div class="card-body">

<%= search_form_for @q do |f| %>
<div class="row">
  <div class="col-1" align="right"><%= f.label :title %></div>
  <div class="col-6"><%= f.text_field :title_cont, :class => "form-control" %></div>
</div>
<br>
<div class="row">
  <div class="col-1" align="right"><%= f.label :appointed %></div>
  <div class="col-2"><%= f.date_field :appointed_gteq, :class => "form-control" %></div>
  <div class="col-2"><%= f.date_field :appointed_lteq, :class => "form-control" %></div>
</div>
<br>
<div class="row">
  <div class="col-1" align="right"><%= f.label :username %></div>
  <div class="col-2"><%= f.select :username_eq, options_from_collection_for_select(User.where(is_deleted: true), :id, :name), {include_blank: true}, {:class => "form-control"} %></div>
</div>
<br>
<div class="row">
  <div class="col-1" align="right"><%= f.label :category %></div>
  <div class="col-2"><%= f.select :category_eq, options_from_collection_for_select(Category.where(mukou: true).order(:serialize), :id, :category_item), {include_blank: true}, {:class => "form-control"} %></div>
</div>
<br>
<div class="row">
  <div class="col-1" align="right"><%= f.label :status %></div>
  <div class="col-2"><%= f.select :status_eq, options_from_collection_for_select(Status.where(mukou: true).order(:serialize), :id, :status_item), {include_blank: true}, {:class => "form-control"} %></div>
</div>
<br>
<div class="row">
  <div class="col-1"></div>
<div class="col-2">
  <%= f.submit "検索", class: "form-control btn btn-primary submit_btn" %>
</div>
</div>
<% end %>

</div>
</div>
</div>

<div class="col-12 sidebar tasks">
<%= render 'tasks', tasks: @tasks %>
</div>
<div class="col-12 sidebar tasks2">
<%= render 'tasks2', tasks: @taskall %>
</div>
