<h1>Dashboard</h1>

<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>詳細</th>
      <th>期日までの日数</th>
      <th>期日</th>
      <th>優先度</th>
      <Th>ユーザー</th>
      <th>タイトル</th>
      <th>カテゴリー</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @home.each do |task| %>
      <tr>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                task_path(task), :class => 'btn btn-info btn-xs' %></td>
        <% if task.status == "3" %>
        <td>完了</td>
        <% elsif date_delay(task.appointed) == "0日" %>
        <td>本日</td>
        <% elsif (task.appointed - Time.now).to_i < 0 %>
        <td><font color="red">期限を<%= date_delay(task.appointed) %>過ぎています</font></td>
        <% else %>
        <td><%= date_today(task.appointed) %>後</td>
        <% end %>
        <td><%= task.appointed.strftime("%Y-%m-%d") %></td>
        <td><%= Priority.find(task.priority).priority_item %></td>
        <td><%= User.find(task.username).name %></td>
        <td><%= task.title %></td>
        <td><%= Category.find(task.category).category_item %></td>
        <% if task.status == "3" %>
        <td><span class="badge rounded-pill bg-primary"><%= Status.find(task.status).status_item %></span></td>
        <% elsif task.status == "1" %>
        <td><span class="badge rounded-pill bg-warning text-dark"><%= Status.find(task.status).status_item %></span></td>
        <% else %>
        <td><span class="badge rounded-pill bg-secondary"><%= Status.find(task.status).status_item %></span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "プロフィール変更", edit_user_registration_path %>
